body {
    background-color: #171717;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.profile-card {
    background-color: #4f46e5;
    border-radius: 10px;
    overflow: hidden;
}

.profile-header {
    padding: 20px;
    text-align: center;
}

.main-profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255, 70%);
    border-radius: 50%;
    margin-right: 20px;
}

.profile-names {
    text-align: left;
}

.username {
    margin: 0;
    font-size: 24px;
}

.page-title {
    font-size: 14px;
}

.profile-body {
    padding: 20px;
}

.profile-actions button {
    background-color: rgba(255,255,255, 70%);
    color: #111;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.bio {
    margin-top: 20px;
}

.bio-header {
    color: rgba(255,255,255, 70%);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.fa-info-circle {
    margin-right: 5px;
}

.bio-text {
    margin: 10px 0;
}

.data {
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.important-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-item {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #4a148c;
}

.value {
    font-size: 24px;
    color: rgba(255,255,255, 70%);
}

.title {
    font-size: 14px;
    color: rgba(255,255,255, 70%);
}

/* Top navigation bar STUFF */

nav{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

nav .menu-img {
    width: 25px;
    margin-top: 20px;
    margin-left: -105px;
    cursor: pointer;
}

nav .logo{
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 10px;
    width: 180px;
    cursor: pointer;
}

nav ul{
    margin-top: 20px;
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    margin-right: 13px;
    font-variant: small-caps;
    position:relative;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    color: #4f46e5;
}