* {
    color: #fff
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#expenseDropdown, #newExpenseCost {
    color: #000;
}

#expenseTagging {
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    padding-top: 20px;
    height: 60%;
}

#graphs {
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#graphs img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    color: #8352ff;
}

input, button {
    margin-top: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    color: #000;
}

#taggedExpenses {
    margin-top: 10px;
    padding: 10px;
}

nav{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

nav .menu-img {
    width: 25px;
    margin-top: 20px;
    margin-left: -105px;
    cursor: pointer;
}

nav .logo{
    position: relative;
    width: 60px;
    cursor: pointer;
}

nav ul{
    margin-top: 20px;
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    margin-right: 13px;
    font-variant: small-caps;
    position:relative;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    color: #4f46e5;
}