* {
    color: #fff
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#expenseDropdown, #newExpenseCost {
    color: #000;
}

#expenseTagging {
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    padding-top: 20px;
    height: 60%;
}

#graphs {
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#graphs img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    color: #8352ff;
}

input, button {
    margin-top: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    color: #000;
}

#taggedExpenses {
    margin-top: 10px;
    padding: 10px;
}