body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #600083;
}

#clothing.content-section {
    margin-top: 500px;
}

#page-container {
    padding-top: 100px;
    background-color: #6a0f59; 
}

section {
    margin: 20px auto;
    text-align: center;
}

h2 {
    color: #ffffff;
    size: 0cqmin;
}

.business-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.business {
    text-align: center;
    margin: 20px;
    padding: 80px;
    border: 2px solid #333;
    transition: border-color 0.3s;
}

.business:hover {
    border-color: #d900ff;
}

.business img {
    max-width: 250px;
}

nav{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

nav .menu-img {
    width: 25px;
    margin-top: 20px;
    margin-left: -105px;
    cursor: pointer;
}

nav .logo{
    position: relative;
    width: 190px;
    cursor: pointer;
}

nav ul{
    margin-top: 20px;
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    margin-right: 13px;
    font-variant: small-caps;
    position:relative;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li input {
    width: 300px;
}