body{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.hero{
    background: #150537;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

p {
    font-size: 20px;
}

nav{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px 10%;
}

nav .menu-img {
    width: 25px;
    margin-top: 20px;
    margin-left: -105px;
    cursor: pointer;
}

nav .logo{
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 10px;
    width: 180px;
    cursor: pointer;
}

nav ul{
    margin-top: 20px;
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    margin-right: 13px;
    font-variant: small-caps;
    position:relative;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li .dropdown-content {
    margin-top: 25px;
    text-align: center;
    display: none;
    position: absolute;
    line-height: 1.1;
    font-size: 14px;
    max-width: 550px;
    width: 175px;
    top: 100%;
    right: -95%;
    opacity: 60%;
    box-shadow: 0 2px 5px #38ADAE; 
}

nav ul li.active .dropdown-content {
    display: block;
}


button{
    margin-top: 20px;
    margin-right: -35px;
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition-duration:  0.5s, margin-left 0.5s;
}

.lamp-container{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 22%;
    width: 200px;
}

.lamp{
    width: 60%;
   
}

.light{
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 33%;
    transform: translateX(-50%);
    width: 290px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;  
}

.couch{
    position: absolute;
    top: 168%;
    left: -10%;
    transform: translateX(-50%);
    width: 275%;
}

.floating-text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #fff;
    line-height: 1.3;
    width: 35%;
    margin-top: 7%;
    margin-left: 75%;
    top: 60%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    text-align: left;
    animation: floatAnimation 6s forwards;
}

@keyframes floatAnimation {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -70%);
    }
}

.floating-text h1{
    font-size: 50px;
    font-weight: 600;
    color: #FFBD59;
    font-family: Tahoma, sans-serif;  
    text-align: center; 
}

.floating-text a{
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    background: #813973;
    padding: 14px 35px;
    display: inline-block;
    color: #fff;
    font-variant: small-caps;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 30px;
}

.video-container{
    position: absolute;
    border: 2px solid #fff;
    top: 20%;
    left: 64%;
    width: -100px;
}

.active{
    background: #38ADAE;
}

.active span{
    background: #fff;
    margin-left: 31px;
}

.on{
    opacity: 1;
}

.side-menu {
    display: none;
    z-index: 1;
    position: fixed;
    margin-top: 100px;
    top: 0;
    left: 0;
    width: 275px;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    transition: transform 1s ease-in-out; 
}

.side-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.side-menu a:hover {
    background: #813973;
}

.side-menu.show {
    transform: translateX(0);
}

.divider {
    position: absolute;
    top: 20%;
    left: 57%;
    width: 90px;
    height: 357px;
    background-color: #813973;
}
